<lib-presentation
  imageWidth="368"
  imageHeight="340"
  [pirecing]="true"
  [imageLeft]="true"
  [highlight]="true"
  buttonColor="#fff"
  [isClickable]="false"
  highlightColor="#F30000"
  buttonBackground="#F30000"
  textButton="Me interessei!"
  logoUrl="assets/logo/logo.svg"
  [highlightFnTitle]="highlightTextPresentationTitle"
  [highlightFnSubtitle]="highlightTextPresentationSubtitle"
  title="TORNE-SE UM BODYPIERCING COMPLETO COM O MÉTODO GELCO PRO (Exclusividade Angel's)"
  subTitle="O único curso onde você aprende tudo para se tornar um profissional completo!"
>
</lib-presentation>
