<lib-presentation
  [dermato]="true"
  imageWidth="368"
  imageHeight="340"
  [highlight]="true"
  buttonColor="#fff"
  [imageLeft]="false"
  [isClickable]="false"
  highlightColor="#479D9D"
  buttonBackground="#479D9D"
  textButton="Me interessei!"
  logoUrl="assets/logo/logo.svg"
  title="DERMOPIGMENTAÇÃO ESTÉTICA E PARAMÉDICA"
  [highlightFnSubtitle]="highlightTextPresentation"
  subTitle="O único curso onde você aprende tudo para se tornar um profissional completo!"
>
</lib-presentation>

<lib-ExclusiveFeatures
  imageWidth="450"
  imageHeight="732"
  [highlight]="true"
  highlightColor="#479D9D"
  logoUrl="assets/logo/logo.svg"
  [listExclusives]="listExclusives"
  bulletDescriptionBackground="#479D9D"
  [highlightFn]="highlightTextExclusiveFeatures"
  imageUrl="assets/exclusive_features/plastic-texture.svg"
  bulletDescriptionText="Única Escola Que Forma Dermopimentadores, Tatuadores E Body Piercings Com Todas As Certificações Necessárias Para Tal. "
  descriptionText="A Angel's Tattoo School foi a primeira escola de tatuagem, piercing e dermopigmentação do Brasil, fundada em 2005 pelos profissionais da Angel's Tattoo Art, Qque Fpera Desde 1T96."
></lib-ExclusiveFeatures>
